<link rel="stylesheet" href="/assets/style.css">
<link rel="stylesheet" href="/clubdetails/clubdetails.css">

<div class="clubdeets-maincon section2">
    <div class="deets-con section2">
        <div class="logo-con">
            <img src="../../assets/t.png" />
        </div>

        <div class="namemotto-con">
            <div class="title-con">
                <span><%= club.name %></span>
                <div class="edit-club-holder">
                    <a href="/edit-club/<%= club.uid %>" class="edit-btn-link">
                      <i class="fa-regular fa-pen-to-square club-edit-btn"></i>
                    </a>
                  </div>
            </div>

            <div class="motto-con">
                <span><%= club.motto %></span>
            </div>
        </div>
    </div>

    <div class="delete-club-btn-holder">
        <button onclick="deleteClub('<%= club.uid %>')" class="delete-btn-link">
            <i class="fa-solid fa-trash-can delete-club-btn"></i>
        </button>        
      </div>

    <div class="quickinfo-con">
        <div class="dbcard contact-con quickinfo-card">
            <div class="cardhead">Get in touch</div>

            <div class="contacts-con">
                <div class="cont-con">
                    <a class="phone-a" href="">
                        <div class="phone-con">
                            <i class="fa-solid fa-phone git-i"></i>
                            <span><%= club.phone %></span>
                        </div>
                    </a>

                    <a class="insta-a" href="<%= club.insta %>">
                        <div class="ig-con">
                            <i class="fa-brands fa-instagram git-i"></i>
                         <span><%= club.name %></span>
                        </div>
                    </a>
                </div>
                <div class="cont-con">
                    <a class="email-a" href="mailto:<%= club.club_email %>">
                        <div class="email-con">
                            <i class="fa-solid fa-envelope git-i"></i>
                            <span><%= club.club_email %></span>
                        </div>
                    </a>
                    <a class="linkedin-a" href="<%= club.linkedin %>">
                        <div class="email-con">
                            <i class="fa-brands fa-linkedin git-i"></i>
                            <span class="linkedin-s"><%= club.name %></span>
                            
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs-con">
        <div class="linitem-con">
            <a href="#about">
                <span>About</span>
            </a>
        </div>
        <div class="linitem-con">
            <a href="#whyus"> <span>Why us?</span></a>
        </div>
        <div class="linitem-con">
            <a href="#milestones"> <span>Milestones</span></a>
        </div>
    </div>

    <div class="dbcard content-con about" id="about">
        <div class="cardhead">
            <span>About</span>
        </div>
        <div class="conttext-con">
            <%= club.about %>
        </div>
    </div>

    <div class="whyus-mile">
        <div class="dbcard content-con whyus" id="whyus">
            <div class="cardhead">
                <span>Why us?</span>
            </div>
            <div class="conttext-con">
              <%= club.whyus %>
            </div>
        </div>

        <div class="dbcard content-con milestones" id="milestones">
            <div class="cardhead">
                <span>Milestones</span>
            </div>
            <div class="conttext-con">
                <%= club.milestones %>
            </div>
        </div>
    </div>
</div>

<script>
    function deleteClub(uid) {
        console.log(`Deleting club with ID: ${uid}`);
        fetch(`/clubs/${uid}`, {
            method: 'DELETE',
        })
        window.location.href = "/clubs"; 
    }

    document.addEventListener('DOMContentLoaded', () => {
        const deleteBtn = document.querySelector('.delete-btn-link');
        if (deleteBtn) {
            deleteBtn.addEventListener('click', () => {
                deleteClub('<%= club.uid %>'); 
            });
        }
    });
</script>
